section {
    width: 80%;
    margin: auto;
    font-size: large;
    text-align: center;
  }
  
  button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: grey;
    padding: 10px;
    margin: 1%;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
  }
  