<section>
  <article>
    <p>Les informations recueillies vous concernant font l’objet d’un traitement destiné à :
      <b>service-suivi@eisti.eu</b><br />
      Pour la finalité suivante : <b>Réalisation de statistiques concernant le suivi des anciens étudiants de
        l'EISTI</b> <br />
      Les destinataires de ces données sont : <b>L'administration et les responsables d'option de l'EISTI</b> <br />
      La durée de conservation des données est de <b>10 ans</b> <br />
      Vous bénéficiez d’un droit d’accès, de rectification, de portabilité, d’effacement de celles-ci ou une limitation
      du traitement.
      Vous pouvez vous opposer au traitement des données vous concernant et disposez du droit de retirer votre
      consentement à tout moment en vous adressant à : <b>service-suivi@eisti.eu .</b> <br />
      Vous avez la possibilité d’introduire une réclamation auprès d’une autorité de contrôle.</p>
      <a href routerLink='/choix' *ngIf="conne.role == 'user'"><button>Modifier mes choix d'autorisation</button></a>

  </article>
</section>
